* {
    margin: 0;
    padding: 0;
}

.content{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
}

.nav .logo{
    display: flex;
}

.nav .logo .img{
    background-image: url(/images/logo.png);
    width: 29px;
    height: 29px;
}

.nav .logo h2{
    color: #555555;
    text-transform: uppercase;
    margin-left: 10px;
    
}

.nav ul{
    display: flex;

    padding-top: 0.5%;
}

.nav ul li{
    padding-right: 5%;

    list-style-type: none;
    text-transform: uppercase;
        
    font-weight: 600;
}

.nav ul li a{
    text-decoration: none;
    color: #777777;
}

.nav ul li a:hover{
    color: #7cc576;
}

/*.contact{

}*/

.footer{
    background-color: #222222;
}

.footer .contact h3{
    color: white;
    text-transform: uppercase;

    padding-top: 2%;
    padding-bottom: 2%;
}

.footer .contact .map{
    display: flex;
}

.footer .contact .map .map__img{
    background-image: url(/images/location.png);
    width: 23px;
    height: 31px;
}

.footer .contact .map .map__p{
    width: 8%;
    padding-left: 1%;
}

.footer .contact .map .map__p p{
    color: white;
}

.footer .contact .phone{
    display: flex;
    
    padding-top: 1%;
    padding-bottom: 2%;
}

.footer .contact .phone .phone__img{
    background-image: url(/images/iPhone.png);
    width: 21px;
    height: 31px;
}

.footer .contact .phone .phone__p{
    padding-left: 1%;
    padding-top: 0.5%;
}

.footer .contact .phone .phone__p p{
    color: white;
}

.footer .contact .mail{
    display: flex;
}

.footer .contact .mail .mail__img{
    background-image: url(/images/email.png);
    width: 21px;
    height: 16px;
}

.footer .contact .mail .mail__p{
    padding-left: 1%;
}

.footer .contact .mail .mail__p p{
    color: white;
}