* {
    margin: 0;
    padding: 0;
}

.content{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
}

.nav .logo{
    display: flex;
}

.nav .logo .img{
    background-image: url(/images/logo.png);
    width: 29px;
    height: 29px;
}

.nav .logo h2{
    color: #555555;
    text-transform: uppercase;
    margin-left: 10px;
    
}

.nav ul{
    display: flex;

    padding-top: 0.5%;
}

.nav ul li{
    padding-right: 5%;

    list-style-type: none;
    text-transform: uppercase;
        
    font-weight: 600;
}

.nav ul li a{
    text-decoration: none;
    color: #777777;
}

.nav ul li a:hover{
    color: #7cc576;
}

/*.contact{

}*/

.Fwrapper{
    display: flex;
    justify-content: space-evenly;
}

.footer{
    background-color: #222222;
}

.footer .contact h3{
    color: white;
    text-transform: uppercase;

    padding-top: 30%;
    padding-bottom: 15%;
}

.footer .contact .map{
    display: flex;
}

.footer .contact .map .map__img{
    background-image: url(/images/location.png);
    width: 23px;
    height: 31px;
}

.footer .contact .map .map__p{
    padding-left: 10%
}

.footer .contact .map .map__p p{
    color: white;
}

.footer .contact .phone{
    display: flex;
    
    padding-top: 10%;
    padding-bottom: 20%;
}

.footer .contact .phone .phone__img{
    background-image: url(/images/iPhone.png);
    width: 21px;
    height: 31px;
}

.footer .contact .phone .phone__p{
    padding-left: 10%;
    padding-top: 5%;
}

.footer .contact .phone .phone__p p{
    color: white;
}

.footer .contact .mail{
    display: flex;
}

.footer .contact .mail .mail__img{
    background-image: url(/images/email.png);
    width: 22px;
    height: 16px;
}

.footer .contact .mail .mail__p{
    margin-left: 15px;
}

.footer .contact .mail .mail__p p{
    color: white;
}

.footer .posts h3{
    color: white;
    text-transform: uppercase;

    padding-top: 20%;
    padding-bottom: 10%;
}

.footer .posts .news1{
    display: flex;
}

.footer .posts .news1 .img__new1{
    background-image: url(/images/News.png);
    width: 26px;
    height: 21px;
}

.footer .posts .news1 .news1__p{
    padding-left: 10%;
}

.footer .posts .news1 .news1__p p{
    color: white;
}

.footer .posts .img{
    display: flex;

    padding-top: 10%;
    padding-bottom: 10%;
}

.footer .posts .img .img__img1{
    background-image: url(/images/Photo.png);
    width: 26px;
    height: 23px;
}

.footer .posts .img .img1__p{
    padding-left: 10%;
}

.footer .posts .img .img1__p p{
    color: white;
}


.footer .posts .news2{
    display: flex;
}

.footer .posts .news2 .img__new2{
    background-image: url(/images/News.png);
    width: 26px;
    height: 21px;
}

.footer .posts .news2 .news2__p{
    padding-left: 10%;
}

.footer .posts .news2 .news2__p p{
    color: white;
}

.footer .posts .news3{
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
}

.footer .posts .news3 .img__new3{
    background-image: url(/images/News.png);
    width: 26px;
    height: 21px;
}

.footer .posts .news3 .news3__p{
    padding-left: 10%;
}

.footer .posts .news3 .news3__p p{
    color: white;
}

.footer .posts .media{
    display: flex;

    margin-bottom: 20%;
}

.footer .posts .media .img__media{
    background-image: url(/images/Media.png);
    width: 17px;
    height: 21px;
}

.footer .posts .media .media__p{
    padding-left: 10%;
}

.footer .posts .media .media__p p{
    color: white;
}

.footer .tweets h3{
    color: white;
    text-transform: uppercase;

    padding-top: 19%;
    padding-bottom: 10%;
}

.footer .tweets .tweets1{
    display: flex;
}

.footer .tweets .tweets1 .tweets1__img{
    background-image: url(/images/Twitter.png);
    width: 26px;
    height: 18px;
}

.footer .tweets .tweets1 .tweets1__p{
    margin-left: 9%;
}

.footer .tweets .tweets1 .tweets1__p p{
    color: white;
}

.footer .tweets .tweets1 .tweets1__p p span{
    font-weight: bold;
}

.footer .tweets .tweets1 .tweets1__p .teg{
    margin-top: 2%;
}

.footer .tweets .tweets1 .tweets1__p .time{
    font-size: 13px;
    margin-top: 2%;
}

.footer .tweets .tweets2{
    display: flex;

    margin-top: 10%;
}

.footer .tweets .tweets2 .tweets2__img{
    background-image: url(/images/Twitter.png);
    width: 24px;
    height: 18px;
}

.footer .tweets .tweets2 .tweets2__p{
    margin-left: 9%;
}

.footer .tweets .tweets2 .tweets2__p p{
    color: white;
}

.footer .tweets .tweets2 .tweets2__p p span{
    font-weight: bold;
}

.footer .tweets .tweets2 .tweets2__p .teg{
    margin-top: 2%;
}

.footer .tweets .tweets2 .tweets2__p .time{
    font-size: 13px;
    margin-top: 2%;
}